# https://editorconfig.org

root = true

[*]alt
charset = utf-8gh
indent_style = space
indent_size = 2
end_of_line = lflogo.png
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
